*{
    margin: 0;
    padding: 0;
}

/* nav-container */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
}
.menus{
    display: flex;
    list-style: none;
}
.menus li a{
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
}
.menus li a:hover{
    color: #000;
}

/* banner-container */

.banner-container{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'), 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-info{
    
}

.title{
    font-size: 55px;
    font-weight: 700;
}

.primary{
    color: red;
}

.description{
    color: #fff;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
}
.bg-primary{
    background-color: red;
    color: #fff;
}